.node-red/lib/flows/flow.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "感測器",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3388360ae64146c",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "偵測藥品送達目的地",
        "topic": "already/delivery",
        "qos": "1",
        "datatype": "utf8",
        "broker": "802dead9c850cc93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d1bd82e4322e7192"
            ]
        ]
    },
    {
        "id": "d1bd82e4322e7192",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "處理http資料",
        "func": "var mqttPayload = msg.payload;\nflow.set(\"card_code\", mqttPayload);\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'multipart/form-data';\n\nmsg.payload = {\n    'card_code': mqttPayload,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "495267caf537c42e"
            ]
        ]
    },
    {
        "id": "495267caf537c42e",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "更改藥品訂單狀態(django)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://140.131.115.152/finish_medicine",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c65bbe29da42af25",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "監聽註冊模式",
        "topic": "card/registerMode",
        "qos": "2",
        "datatype": "utf8",
        "broker": "802dead9c850cc93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "8928749867e1018d"
            ]
        ]
    },
    {
        "id": "8928749867e1018d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "開啟註冊模式",
        "func": "var studentId = msg.payload;\n\nflow.set(\"registerMode\", true);\nflow.set(\"nowStudent\", studentId);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 580,
        "wires": [
            [
                "7ffe1dae22cdf173",
                "674ceb1f5f2acccb"
            ]
        ]
    },
    {
        "id": "8e26befa2aa9ce2a",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "判斷卡號是否存在(註冊模式)",
        "property": "data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "No",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 760,
        "wires": [
            [
                "0954b7c73f392d56"
            ],
            [
                "903a52ad95edd11c"
            ]
        ]
    },
    {
        "id": "0954b7c73f392d56",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "傳送卡號已存在錯誤訊息到感測器",
        "topic": "register/fail/card/existed",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "802dead9c850cc93",
        "x": 980,
        "y": 700,
        "wires": []
    },
    {
        "id": "abd22358e18aa72f",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "註冊卡號(django)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://140.131.115.152/registerCard",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "multipart/form-data",
                "valueValue": ""
            }
        ],
        "x": 1110,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "903a52ad95edd11c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "處理http資料",
        "func": "msg.headers = {};\nmsg.headers['Content-Type'] = 'multipart/form-data';\n\nmsg.payload = {\n    'card_id': flow.get(\"cardId\"),\n    'student': flow.get(\"nowStudent\"),\n    'token': 'p+8bwe~s_74;`?%nq}#?t7~p7_rr6qe_&$?#@*ky//}f^!_b=&00852!sr:sz!a'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 800,
        "wires": [
            [
                "abd22358e18aa72f"
            ]
        ]
    },
    {
        "id": "7ffe1dae22cdf173",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "開啟註冊模式(oled、rgb)",
        "topic": "registerMode/on",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "802dead9c850cc93",
        "x": 710,
        "y": 620,
        "wires": []
    },
    {
        "id": "674ceb1f5f2acccb",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "37544a8bf14b2320"
            ]
        ]
    },
    {
        "id": "37544a8bf14b2320",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "關閉註冊模式",
        "func": "\nflow.set(\"registerMode\", false);\nflow.set(\"nowStudent\",\"\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 540,
        "wires": [
            [
                "0be1f15b01cd8cfd"
            ]
        ]
    },
    {
        "id": "0be1f15b01cd8cfd",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "關閉註冊模式(oled、rgb)",
        "topic": "registerMode/off",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "802dead9c850cc93",
        "x": 1130,
        "y": 540,
        "wires": []
    },
    {
        "id": "199c48baa559259c",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "django驅動區",
        "info": "",
        "x": 130,
        "y": 520,
        "wires": []
    },
    {
        "id": "baaf3b3f6d7bfe23",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Arduino車驅動區",
        "info": "",
        "x": 140,
        "y": 140,
        "wires": []
    },
    {
        "id": "b714f5558eb09a73",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "更改餐點訂單狀態(django)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://140.131.115.152/cardCheck",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "261ef3e6ef1f9108",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "處理http資料",
        "func": "var mqttPayload = msg.payload;\nflow.set(\"cardId\", mqttPayload);\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'multipart/form-data';\n\nmsg.payload = {\n    'card_id': mqttPayload,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "b714f5558eb09a73"
            ]
        ]
    },
    {
        "id": "462f62c6f23e9d9a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "偵測藥品送達目的地",
        "topic": "already/delivery",
        "qos": "1",
        "datatype": "utf8",
        "broker": "802dead9c850cc93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "261ef3e6ef1f9108"
            ]
        ]
    },
    {
        "id": "802dead9c850cc93",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "140.131.115.152",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]